.video-item{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid lightgray;
    background-color: var(--bgc-secondary);
    cursor: pointer;
}

.video-item__image{
    width: 150px;
    object-fit: contain;
}

.video-item__title{
    font-family: var(--ff-primary);
    font-size: 0.85rem;
    width: 60%;
    align-self: center;
    padding: 0.2em;
}