.video-browser{
    padding: 10px;
}

.video-browser__segment{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 75vh;
}

@media screen and (max-width: 992px) {
    .video-browser__segment {
        flex-direction: column;
        align-items: center;
        height: 90vh;
    }
}