.search-bar{
    margin: 20px;
    padding: 1.5em;
    height: 5vh;
    flex: 1;
    background-color: var(--bgc-secondary);
    border-radius: 10px;
    box-shadow: -1px 5px 20px -6px rgb(0,0,0,0.75);
}

.search-bar__form{
    display: flex;
    align-items: center;
    height: 100%;
}

.search-bar__form > label{
    font-family: var(--ff-primary);
    font-size: large;
    font-weight: bold;
    margin: 0 10px;
}

.search-bar__form > input{
    flex: 1;
    font-family: var(--ff-primary);
    font-size: large;
    padding: 12px 20px;
    height: 100%;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.search-bar__form > input:focus{
    outline: none;
    background-color: var(--bgc-primary);
    color: var(--bgc-secondary);
    border: 2px solid black;
}

.search-bar__form > input:focus::placeholder {
    color: var(--bgc-secondary);
}

@media screen and (max-width: 576px) {
    .search-bar__form > label, .search-bar__form > input {
        font-size: small;
    }
}